@font-face {
  font-family: 'icomoon';
  src: url('../icons/icomoon.eot?3ig58f');
  src: url('../icons/icomoon.eot?3ig58f#iefix') format('embedded-opentype'), url('../icons/icomoon.ttf?3ig58f') format('truetype'), url('../icons/icomoon.woff?3ig58f') format('woff'), url('../icons/icomoon.svg?3ig58f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-order-status-group-complete:before {
  content: "\e915";
}

.icon-key:before {
  content: "\e914";
}

.icon-share:before {
  content: "\e913";
}

.icon-order-status-group:before {
  content: "\e911";
}

.icon-order-status-refund:before {
  content: "\e912";
}

.icon-order-status-close:before {
  content: "\e902";
}

.icon-order-status-ungroup:before {
  content: "\e903";
}

.icon-order-status-pay:before {
  content: "\e904";
}

.icon-user:before {
  content: "\e905";
}

.icon-user-o:before {
  content: "\e906";
}

.icon-order-book:before {
  content: "\e907";
}

.icon-order-book-o:before {
  content: "\e908";
}

.icon-house:before {
  content: "\e909";
}

.icon-house-o:before {
  content: "\e90a";
}

.icon-call:before {
  content: "\e90b";
}

.icon-coupon:before {
  content: "\e90c";
}

.icon-heart:before {
  content: "\e90d";
}

.icon-heart-o:before {
  content: "\e90e";
}

.icon-mobile:before {
  content: "\e90f";
}

.icon-bag:before {
  content: "\e910";
}

.icon-expired-label:before {
  content: "\e900";
}

.icon-used-label:before {
  content: "\e901";
}

.icon-search:before {
  content: "\f002";
}

.icon-th-large:before {
  content: "\f009";
}

.icon-th:before {
  content: "\f00a";
}

.icon-th-list:before {
  content: "\f00b";
}

.icon-check:before {
  content: "\f00c";
}

.icon-close:before {
  content: "\f00d";
}

.icon-remove:before {
  content: "\f00d";
}

.icon-times:before {
  content: "\f00d";
}

.icon-cog:before {
  content: "\f013";
}

.icon-gear:before {
  content: "\f013";
}

.icon-trash-o:before {
  content: "\f014";
}

.icon-repeat:before {
  content: "\f01e";
}

.icon-rotate-right:before {
  content: "\f01e";
}

.icon-lock:before {
  content: "\f023";
}

.icon-image:before {
  content: "\f03e";
}

.icon-photo:before {
  content: "\f03e";
}

.icon-picture-o:before {
  content: "\f03e";
}

.icon-map-marker:before {
  content: "\f041";
}

.icon-share-square-o:before {
  content: "\f045";
}

.icon-plus-circle:before {
  content: "\f055";
}

.icon-minus-circle:before {
  content: "\f056";
}

.icon-times-circle:before {
  content: "\f057";
}

.icon-check-circle:before {
  content: "\f058";
}

.icon-question-circle:before {
  content: "\f059";
}

.icon-info-circle:before {
  content: "\f05a";
}

.icon-arrow-up:before {
  content: "\f062";
}

.icon-arrow-down:before {
  content: "\f063";
}

.icon-exclamation-circle:before {
  content: "\f06a";
}

.icon-exclamation-triangle:before {
  content: "\f071";
}

.icon-warning2:before {
  content: "\f071";
}

.icon-calendar:before {
  content: "\f073";
}

.icon-phone:before {
  content: "\f095";
}

.icon-bars:before {
  content: "\f0c9";
}

.icon-navicon:before {
  content: "\f0c9";
}

.icon-reorder:before {
  content: "\f0c9";
}

.icon-angle-left:before {
  content: "\f104";
}

.icon-angle-right:before {
  content: "\f105";
}

.icon-long-arrow-down:before {
  content: "\f175";
}

.icon-long-arrow-up:before {
  content: "\f176";
}

.icon-qq:before {
  content: "\f1d6";
}

.icon-wechat:before {
  content: "\f1d7";
}

.icon-weixin:before {
  content: "\f1d7";
}

.icon-commenting:before {
  content: "\f27a";
}

.icon-commenting-o:before {
  content: "\f27b";
}

.icon-add:before {
  content: "\e145";
}

.icon-add_circle:before {
  content: "\e147";
}

.icon-control_point:before {
  content: "\e3ba";
}

.icon-cancel:before {
  content: "\e5c9";
}

.icon-check2:before {
  content: "\e5ca";
}

.icon-check_circle:before {
  content: "\e86c";
}

.icon-error:before {
  content: "\e000";
}

.icon-error_outline:before {
  content: "\e001";
}

.icon-favorite:before {
  content: "\e87d";
}

.icon-favorite_border:before {
  content: "\e87e";
}

.icon-help:before {
  content: "\e887";
}

.icon-help_outline:before {
  content: "\e8fd";
}

.icon-info:before {
  content: "\e88e";
}

.icon-info_outline:before {
  content: "\e88f";
}

.icon-remove2:before {
  content: "\e15b";
}

.icon-remove_circle_outline:before {
  content: "\e15d";
}

.icon-sentiment_dissatisfied:before {
  content: "\e811";
}

.icon-sentiment_neutral:before {
  content: "\e812";
}

.icon-sentiment_satisfied:before {
  content: "\e813";
}

.icon-sentiment_very_dissatisfied:before {
  content: "\e814";
}

.icon-sentiment_very_satisfied:before {
  content: "\e815";
}
